<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senai.sp.jandira.imcapp20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ncd_imagem"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ncd_imagem"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResultadoNcdActivity"></activity>
        <activity android:name=".NcdActivity" />
        <activity android:name=".ResultadoImcActivity" />
        <activity android:name=".imcActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>